<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/4b723a5fc4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/form.css">
    <title>登録</title>
</head>
<body>
    <h1>社員情報管理システム</h1>
    <p>登録する社員情報を記入してください。</p>
    社員番号<input type="text" class="regiTxt"><br>
    氏名<input type="text" class="regiTxt"><br>
    所属部署<input type="text" class="regiTxt"><br>
    <button class="regiButton">戻る</button><button class="regiButton">登録確認</button>
</body>
</html>