<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/4b723a5fc4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/form.css">
    <title>system</title>
</head>
<body>
<h1>社員情報管理システム</h1>
<input type="text" placeholder="社員番号で検索"><button id="add">+</button><button>+CSV</button><br>
<table>
    <tr><th>社員番号</th><th>氏名</th><th>所属部署</th></tr>
    <tr><td>2222222</td><td>よしひこ</td><td>セキュリティサービス</td></tr>
</table>

</body>
</html>